*{
  box-sizing: border-box;
}
body{
  font-family: "Libre Baskerville", serif;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: black;
    padding: 0px 50px;
    align-items: center;
    position: fixed;
    z-index: 1;
    top:0;
    box-sizing: border-box;
    height: 75px;
    left:0;

}
.menu{
  display: flex;
  justify-content: space-between;
  gap:10px;
  list-style: none;
}
.menu li a{
  text-decoration: none;
  color:white;
  
}
.menu li a:hover{
  color:grey;

}

.logo{
    color: white;
  }
.search input{
  width:180px;
  height:30px;
 
  border:1px solid white;
}
.search input:hover{
  color:white;
}
.search button{
  background-color: white;
  border-color: #ccc;
}
p{
    text-align: center;
    background-color: #117A65;
}

.container{

 
    background-color: white;
    
    padding-top: 120px;
 
    padding-bottom:100px;
    margin:auto;
    


}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    margin:auto;
 
}
.gallery-img{
   
}
.gallery-img img{
    width:220px;
    height:220px;
    border:3px solid rgb(51, 50, 51);
    

}

    footer{
        z-index: 1;
        bottom: 0px;
        position: fixed;
        z-index: 1;
       width: 100%;
       height: 73px;
       right:0;
     }

footer p{
  color:white;
  background-color: black;
  height:60px;
  padding-top: 30px;
  font-size: 13px;
  
}

.gallery-img{

    transition: all 0.5s 0s;
    transform: scale(1);
    opacity:0.8;

}
.gallery-img:hover {
    transform: scale(1.5) rotateY(150deg);

    opacity: 1;
    z-index: 1;
}
@media(max-width:1023px){
  nav{
    display:flex;
    flex-direction: column;
    height:20%;
   

  }
  
 

}
@media(max-width:767px){
  nav{
    display:flex;
   
    flex-direction: column;
    height:20%;
    
  

  }
  
 

}
@media(max-width:575px){
  
    nav{
      display:flex;
     
      flex-direction: column;
      height:20%;
      
      margin-top:0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    
  
    }

  }
  .container{
    padding-top: 150px;
    padding-bottom: 100px;
  }

 

